<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GT_users</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <h1>Please signup here !</h1>

    <form  method="POST">

      {{form.as_p}}
      {% csrf_token%}
      <input type="submit" class="btn btn-primary" value="Submit">


    </form>


        <!-- {% if users %}

        <ol>

          {% for person in users %}

          <li>User Info</li>
          <ul>
            <li>First_Name: {{person.first_name}}</li>
              <li>Last_Name: {{person.last_name}}</li>
                <li>emails: {{person.emails}}</li>
          </ul>
          {% endfor %}
        </ol>

        {% endif %} -->


  </body>
</html>
